@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
 
.background {
  background-color: rgba(57, 55, 72, 0.22);
  position: absolute;
  z-index: 999999999999999999999;
} 
