.attributes {
    width: 400px;
}



.attributeTitle {
    text-transform: uppercase;
    padding-top: 10%;
    padding-bottom: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.color {
    border: "1px solid gray"
}

.attributesContainer {
    display: flex;
}

.attributesContainer button {
    color: #1D1F22;
    background-color: white;
    border: 1px solid #1D1F22;
    width: 63px;
    height: 45px;
}



.attributesContainer button:hover {
    cursor: pointer;
}

.attributesContainer button:not(:first-child){
    margin-left: 10px;
}

.attributesContainer div:not(:first-child){
    margin-left: 10px;
}

.selectedColorBorder {
    padding: 2px;
}

.selectedColorBorder button {
    display: flex;
    align-items: center;
}