.cartProductContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.cartProductContainer img {
    width: 110px;
    height: 190px;
}

.productDetails {
    display: flex;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.amount button {
    border: 1px solid #1D1F22;
    background-color: #fff;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.amount button:hover {
    cursor: pointer;
}
.attributes {
    margin-right: 5px;
}

.imgContainer {
    display: flex;
    max-width: 110px;
    /* height: 90px; */
}

.imgContainer  {
    max-width: 100%;
    height: auto; 
}
