.navbar {
    position: fixed;
    top: 0;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    z-index: 999;
}

.categories {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    height: 100%;
    align-items: center;
}

.greenLogo {
    padding-right: 10%;
}



.cartLogoContainer {
    display: flex;
    align-items: center;
}

.cartLogoContainer select {
    border: none;
    margin-right: 10px;
}

.cartLogoContainer img {
    cursor: pointer;
}

.someContainer {
    position: relative;
}

.cartAmount {
    border-radius: 60px;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    position: absolute;
    left: 75%;
    bottom: 50%;
    text-align: center;
}





